@import "./styles/bootstrap-grid.min.css";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.moltoLungo {
  height: 1600px;
  text-align: center;
  display: block;
  position: relative;
  background-color: grey;
  margin-bottom: 1380px;
}
.magia {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.grey {
  background-color: rgb(189, 27, 27);
  display: block;
  position: relative;
  width: 590px;
  margin: auto;
  height: 60px;
  color: rgb(255, 255, 255);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imagess {
  display: block;
  position: relative;
  width: 500px;
  height: 500px;
  margin-top: 150px;
}
