@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,400,800|Open+Sans+Condensed:300');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.dispFlex {
  display: flex;
}
.alignItemsCenter {
  align-items: center;
}
.magnifier {
  margin-right: 35px;
  cursor: pointer
}
.menuFixed {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  img {
    height: 100%;
  }
  .row {
    transition: 0.5s;
  }
}
.falseMenu {
  display: block;
  position: relative;
  width: 100%;
  height: 130px;
}
.btn {
  border: 1px solid #ddd;
  padding: 16px 22px;
  cursor: pointer;
  img {
    margin-left: 10px;
    margin-bottom: -4px;
  }
  &.btn--green {
    border-color: #1BB3BC;
    color: #1BB3BC;
  }
}
.mainNav {
  .row {
    height: 130px;
  }
  .centered_menu {
    display: flex;
    a {
        margin-right: 25px;
        align-self: center;
        font-size: 16px;
        text-decoration: none;
        color: #444444;
    }
  }
  .logo_container {
    margin-right: 45px;
    width: 260px;
    display: block;
    position: relative;
    background-position: left 8px;
    background-size: 100%;
    transition: 0.5s
  }
  .logo_container:after {
    width: 1px;
    height: 30px;
    background-color: red;
    content: " ";
    position: absolute;
    top: calc(50% - 15px);
    right: 0;
  }

}
.row.scrollingMenu {
  height: 100px;
  .logo_container {
    margin-right: 25px;
    width: 190px;
  }
}
.justContFlexEnd {
  justify-content: flex-end;
}
.greyOverflow {
  background-color: #2b2b2b;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0.3
}

.subheadline_box {
  padding:0!important;

  div {
    text-align: left;
    padding: 160px 140px;
    margin-top: -55px;
    background-color: #fff;
  }
  p {
    font-size: 20px;
    font-weight: 200;
    color: #6F7779;
  }
  h3 {
    color: #EC0000;
    font-size: 40px;
    font-weight: 200;
  }
}

.player {
  background-color: #ec1300;
  padding: 45px;
  margin-top: 0px;
  margin-left: -232px;
  display: block;
  position: absolute;
}

#scrollIndicator {
  position: absolute;
  width: 150px;
  height: 75px;
  left: calc(50% - 75px);
  bottom: -90px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 75px;
  transition:0.9s;
  .progress {
    width: 150px;
    height: 75px;
    transition:0.5s;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    transform-origin: bottom;
  }
  i {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - 10px);
    margin-top: 23px;
    background-size: contain;
    animation-duration: 0.6s;
    animation-name: idling;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes idling {
  from {
    margin-top: 23px;
  }

  to {
    margin-top: 28px;
  }
}
